$black: #000;
$black1: #242424;
$black2: #373737;
$white: #ffffff;
$themeBlue: #1770D1;
$themeBlack: #1B1C1C;
$themeSemiBlue: #1276D2;
$themeSemiWhite: rgba(255, 255, 255, 0.8);
$semiBlue: #1870d1;
$semiWhiteBlue: #18508D;
$semiBlack: #1F1F1F;
$black1: #171717;
$green: #137711;
$red: #F00B0B;
$gray: #6B6B6B;
$grayText: #B8B8B8;
$semiGray: #C2C2C2;
$stickyBg: rgba(23, 112, 209, 0.74);
$promoted: #D5E9FF;
$semiBlue: #A3CFFF;

// fonts

$sfRegular: sfRegular, sans-serif;
$sfBold: sfBold, sans-serif;
$sfMedium: sfMedium, sans-serif;


