@font-face {
    font-display: swap;
    font-family: sfRegular;
    src: url("../fonts/SFProDisplay-Regular.eot");
    src: url("../fonts/SFProDisplay-Regular.woff");
    src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: sfBold;
    src: url("../fonts/SFProDisplay-Bold.eot");
    src: url("../fonts/SFProDisplay-Bold.woff");
    src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
    src: url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: sfMedium;
    src: url("../fonts/SFProDisplay-Medium.eot");
    src: url("../fonts/SFProDisplay-Medium.woff");
    src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
    src: url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
