@import "./mixins";


@include bigMobile{
    @keyframes changeBg{
        0%, 100%  {
            background-image: url("../img/photos/introBg_1_mob.webp");}
        33% {background-image: url("../img/photos/introBg_2_mob.webp");}
        66% {background-image: url("../img/photos/introBg_3_mob.webp");}
    }
}

@include tablet{
    @keyframes changeBg{
        0%, 100%  {
            background-image: url("../img/photos/introBg_1_tablet.webp");}
        33% {background-image: url("../img/photos/introBg_2_tablet.webp");}
        66% {background-image: url("../img/photos/introBg_3_tablet.webp");}
    }
}

@keyframes changeBg{
       0%, 100%  {
           background-image: url("../img/photos/introBg_1_desktop.webp");}
       33% {background-image: url("../img/photos/introBg_2_desktop.webp");}
       66% {background-image: url("../img/photos/introBg_3_desktop.webp");}
    }

